/* LANDPAGE - DASHBOARD */

.navbar-nav .nav-link {
    font-size: 1.2rem !important; 
    letter-spacing: 1px;
}

/* Estilo para las tarjetas de la landing*/
.card-oferta {
    background-color: #3b7459; /* Color verde para ofertas */
    color: white;
    border-radius: 20px;
    border: 2px solid white !important;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.6), inset 0 0 0 0 white !important;
    transition: transform 0.2s ease, box-shadow 0.4s ease !important;
}

.card-demanda {
    background-color: #3c7977; /* Un verde-azulado distinto para demandas, como pide el enunciado */
    color: white;
    border-radius: 20px;
    border: 2px solid white !important;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.6), inset 0 0 0 0 white !important;
    transition: transform 0.2s ease, box-shadow 0.4s ease !important;
}

.card-oferta:hover, .card-demanda:hover {
    transform: translateY(-5px);
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.6), inset -7px 0 7px 0 white !important;
}

/* El contenedor de las ofertas */
.main-container {
    background-color: rgba(255, 255, 255, 0.2); 
    border: 2px solid rgba(255, 255, 255, 0.5) !important;
}

.secondary-container {
    background-color: #3b7459;
    border: 2px solid rgba(255, 255, 255, 0.5) !important;
}

.btn-principal {
    transition: transform 0.2s ease, background-color 0.3s ease !important;
    background-color: #8a7cff !important;
    border: none !important;
    color: white !important;
}

.btn-principal:hover {
    background-color: #3c27f7 !important;
    transform: scale(1.1);
}

/* Efecto hover general para botones de borrar (opcional) */
.btn-danger:hover {
    transform: scale(1.1);
}