

/* LANDPAGE - DASHBOARD */

.navbar-nav .nav-link {
    font-size: 1.2rem !important; 
    letter-spacing: 1px;
}

/* Estilo para las tarjetas de la landing*/
.card-oferta {
    background-color: #58a481; /* Color verde oscuro para ofertas */
    color: white;
    border-radius: 20px;
    border: 2px solid white;
    transition: transform 0.2s;
}

.card-demanda {
    background-color: #1f8a84; /* Un verde-azulado distinto para demandas, como pide el enunciado */
    color: white;
    border-radius: 20px;
    border: 2px solid white;
}

.card-oferta:hover {
    transform: translateY(-5px);
}

/* El contenedor de las ofertas */
.main-container {
    background-color: rgba(255, 255, 255, 0.2); 
    border: 2px solid rgba(255, 255, 255, 0.5);
}